// src/css/quasar.variables.scss

$primary   : #192a40;
$secondary : #4b7dbf;
$accent    : #355b8c;

$dark      : #181e26;
$dark-page : #181e26;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
